absl-py
brotlipy
cachetools
fonttools
fpzip
google-auth
google-auth-oauthlib
grpcio
gviz-api
importlib-metadata
llvmlite
Markdown
MarkupSafe
matplotlib
mkl-fft
mkl-service
munkres
netCDF4
numba
numpy 
oauthlib
packaging
pandas
Pillow
ply
protobuf
pyasn1
pyasn1-modules
pycparser 
pyevtk
pyOpenSSL 
pyparsing
PyQt5
PyQt5-sip 
PySocks 
python-dateutil
pytz
requests
requests-oauthlib
rsa
sip 
six 
tensorboard
tensorboard-data-server
tensorboard-plugin-profile
tensorboard-plugin-wit
tinycudann
toml
torch==1.13.0
torch-tb-profiler
torchaudio==0.13.0
torchvision==0.14.0
tornado 
typing_extensions
urllib3 
vtk
Werkzeug
win-inet-pton
win32-setctime
wincertstore
zipp
